body {
  font-family: "Poiret One", cursive;
  text-align: center;
  color: black; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

.flex_to_center {
  display: flex;
  align-items: center;
  justify-content: center; }

.App-header {
  background: url(".././img/charleston_background.jpg") no-repeat fixed center;
  background-size: cover;
  height: 450px;
  margin-bottom: 15px; }
  .App-header h1 {
    font-family: "Zilla Slab Highlight", cursive;
    font-weight: 700;
    color: white;
    font-size: 6em;
    margin-top: 0px;
    text-align: center;
    position: relative;
    top: 280px; }
  .App-header nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 290px; }
    .App-header nav.scrolled-nav {
      background-color: white; }
      .App-header nav.scrolled-nav .navlink {
        color: black;
        visibility: visible;
        transition: visibility 1s linear; }
      .App-header nav.scrolled-nav #logo {
        visibility: visible;
        transition: visibility 1s linear; }
    .App-header nav #logo {
      visibility: hidden;
      width: 95%; }
    .App-header nav .navlink {
      visibility: hidden;
      font-weight: bold;
      font-size: 1.8em;
      color: white;
      padding: 5px;
      margin: 35px 120px 0px 120px;
      text-decoration: none; }
      .App-header nav .navlink span {
        opacity: 0;
        transition: opacity 0.5s linear; }
      .App-header nav .navlink:hover span {
        opacity: 1;
        transition: opacity 0.6s linear; }

footer {
  background-color: black;
  color: white;
  margin-top: 50px;
  padding: 20px; }
  footer img {
    width: 70%; }
  footer p a {
    color: white;
    text-decoration: none; }
    footer p a:hover {
      opacity: 0.8;
      transition: opacity 0.6s linear;
      color: white;
      text-decoration: none; }
    footer p a:focus {
      color: white;
      text-decoration: none; }

h2 {
  font-size: 3.4em;
  margin: 30px 0;
  font-weight: bold; }

h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 2.8em; }

h4 {
  font-size: 2em;
  font-weight: bold; }

.highlight {
  font-size: 1.7em; }

button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 8px;
  width: 20%;
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: opacity 0.4s linear; }
  button:hover {
    opacity: 0.8;
    transition: opacity 0.4s linear; }

#intro {
  margin: 20px 0; }
  #intro #gif {
    margin-top: 20px; }

p {
  font-size: 1.5em;
  margin-bottom: 0; }

#player {
  width: 640px;
  height: 360px; }

.embed-responsive-16by9 {
  padding-bottom: 21.5%; }

#news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px; }

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  width: 40%;
  margin-right: 50px; }
  .card img {
    margin-top: 25px; }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); }

.step {
  margin: 10px 5% 10px 5%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 4px; }

.step p {
  text-align: center; }

.card_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 50px; }

form {
  padding-top: 20px; }
  form label {
    font-size: 1.2em; }
  form .input {
    height: 40px; }
  form .form-control {
    padding: 5px 20px;
    font-size: 1.3em;
    color: black; }
  form input, form input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3; }

.form-control:focus {
  border-color: black;
  box-shadow: 0; }

.g-recaptcha {
  margin-top: 15px; }
