#intro {
	margin: 20px 0;

	#gif {
		margin-top: 20px;
	}
}

p {
	font-size: 1.5em;
	margin-bottom: 0;
}

#player {
	width:640px;
	height:360px;
}

.embed-responsive-16by9 {
    padding-bottom: 20.25%;
}

.card_container {
	display : flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
}