#intro {
	margin: 20px 0;

	h2 {
		font-size: 3.4em;
		margin : 30px 0;
		font-weight: bold;
	}

	p {
		font-size: 1.7em;
	}

	#gif {
		margin-top: 20px;
	}
}

h3 {
	margin-top:50px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size:2.8em;	
}

h4 {
	font-size:2em;
	font-weight: bold;
}

p {
	font-size: 1.5em;
	margin-bottom: 0;
}

#player {
	width:640px;
	height:360px;
}

.embed-responsive-16by9 {
    padding-bottom: 20.25%;
}

#news {
	display : flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
}