.step {
  margin: 10px 5% 10px 5%;
  padding: 15px;
  border : 1px solid black;
  border-radius: 4px;
}

.step p {
  text-align: center;
}

.card_container {
	display : flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
}